[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/NERD_Tree"]
	path = bundle/NERD_Tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/sessionman"]
	path = bundle/sessionman
	url = git://github.com/vim-scripts/sessionman.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/snipmate_for_django"]
	path = bundle/snipmate_for_django
	url = git://github.com/gilsondev/snipmate_for_django.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/fontzoom"]
	path = bundle/fontzoom
	url = git://github.com/vim-scripts/fontzoom.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/underwater-mod"]
	path = bundle/underwater-mod
	url = git://github.com/vim-scripts/underwater-mod.git
[submodule "vim-wombat"]
	path = vim-wombat
	url = git://github.com/cschlueter/vim-wombat.git
[submodule "bundle/railscasts-theme"]
	path = bundle/railscasts-theme
	url = git://github.com/jpo/vim-railscasts-theme.git
[submodule "bundle/github_theme"]
	path = bundle/github_theme
	url = git://github.com/nono/github_vim_theme.git
[submodule "bundle/pyflakes-vim"]
	path = bundle/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/json.vim"]
	path = bundle/json.vim
	url = git://github.com/vim-scripts/JSON.vim.git
[submodule "bundle/rest.vim"]
	path = bundle/rest.vim
	url = git://github.com/vim-scripts/rest.vim.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = git://github.com/kogakure/vim-sparkup.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = git://github.com/sjbach/lusty.git
[submodule "bundle/vim-mercurial"]
	path = bundle/vim-mercurial
	url = git://github.com/DasIch/vim-mercurial.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://github.com/jcf/vim-latex.git
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = git://github.com/jmcantrell/vim-virtualenv.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/svn-git"]
	path = bundle/svn-git
	url = git://github.com/scyn-conf/svn-vim.git
[submodule "bundle/VimIRC"]
	path = bundle/VimIRC
	url = git://github.com/vim-scripts/VimIRC.vim.git
[submodule "bundle/django_colorschemes.vim"]
	path = bundle/django_colorschemes.vim
	url = git://github.com/gilsondev/django_colorschemes.vim.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = git://github.com/fs111/pydoc.vim.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = git://github.com/vim-scripts/pep8.git
[submodule "bundle/tabbar"]
	path = bundle/tabbar
	url = git://github.com/vim-scripts/TabBar.git
